<div class="background">
  <div class="content">
    <h1 class="mx-auto">Incluir</h1>

    <div class="mx-auto w-50 card-pedido">
      <%= render "form", cliente: @cliente %>
      <button class="outline">
        <%= link_to "Voltar", clientes_path %>
      </button>
    </div>
  </div>
</div>
